/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #070002;
}
header nav div.logo {
  color: white;
  display: flex;
  align-items: center;
  margin: 1%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
}
header nav div.logo a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav div.logo span {
  color: #FFB612;
}
header nav div.logo img {
  height: 50px;
  width: 50px;
}
header nav div.links {
  margin: 1%;
  display: flex;
  align-items: flex-end;
  width: 350px;
}
header nav div.links a {
  margin-right: 5%;
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
header nav div.links a:hover {
  color: #FFB612;
  text-decoration: underline overline;
}
.intro {
  height: 85vh;
  background-image: url("/images/africanMarket.jpg");
  background-size: cover;
  margin: 0;
}
.intro .box {
  height: 470px;
  width: 1000px;
  border: 1px solid black;
  background-color: #070002;
  opacity: 0.9;
}
.intro .box h2 {
  font-family: Rajdhani;
  text-align: center;
  margin: 2% 0 1% ;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 900;
}
.intro .box hr {
  color: #FFB612;
  display: block;
  content: "";
  height: 30px;
  margin: -31px, 4%, 2%, 4%;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.intro .box p {
  margin: 2% 1%;
  font-size: 2em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}
.middle {
  margin: 0;
}
