/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #070002;
}
header nav div.logo {
  color: white;
  display: flex;
  align-items: center;
  margin: 1%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
}
header nav div.logo a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav div.logo span {
  color: #FFB612;
}
header nav div.logo img {
  height: 50px;
  width: 50px;
}
header nav div.links {
  margin: 1%;
  display: flex;
  align-items: flex-end;
  width: 350px;
}
header nav div.links a {
  margin-right: 5%;
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
header nav div.links a:hover {
  color: #FFB612;
  text-decoration: underline overline;
}
.intro {
  height: 85vh;
  background-image: url("/images/africanMarket.jpg");
  background-size: cover;
  min-width: 100%;
}
.intro .box {
  height: min-content;
  width: 1000px;
  border: 1px solid black;
  background-color: #070002;
  opacity: 0.9;
  margin: auto;
}
.intro .box .myButton {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #FFB612, 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.intro .box .myButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.intro .box .myButton:active {
  position: relative;
  top: 1px;
}
.intro .box a {
  color: #070002;
}
.intro .box h2 {
  font-family: Rajdhani;
  text-align: center;
  margin: 2% 0 1% ;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 900;
}
.intro .box hr {
  border-top: 1px solid #8c8b8b;
  margin: 0 %;
}
.intro .box p {
  margin: 2% 1%;
  font-size: 2em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}
.middle {
  margin-bottom: 5%;
}
.middle hr {
  border-top: 1px solid #8c8b8b;
  margin: 0 25%;
}
.middle div.mission {
  margin: 0;
  height: min-content;
  background-color: #FFB612;
}
.middle div.mission h2 {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  padding: 2%;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: overline;
}
.middle div.mission p {
  text-align: start;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #070002;
  height: min-content;
  margin: 0 10%;
  padding-bottom: 3%;
  letter-spacing: 2px;
}
.middle .first,
.middle .second,
.middle .third {
  margin: 10% 3%;
  display: flex;
}
.middle .first .image,
.middle .second .image,
.middle .third .image {
  width: 50%;
}
.middle .first .image img,
.middle .second .image img,
.middle .third .image img {
  vertical-align: top;
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 35, 149, 0.19);
}
.middle .first .target,
.middle .second .target,
.middle .third .target {
  width: 50%;
  margin: 0 1% 0 7%;
}
.middle .first .target h3,
.middle .second .target h3,
.middle .third .target h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5rem;
  margin-bottom: 2%;
  text-decoration: underline #FFB612;
  letter-spacing: 1px;
}
.middle .first .target p,
.middle .second .target p,
.middle .third .target p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 1%;
}
.middle .first .target p:hover,
.middle .second .target p:hover,
.middle .third .target p:hover {
  background-color: #FFB612;
  color: #070002;
  font-weight: 800;
}
.middle .second .target {
  margin: 0 7% 0 1%;
  vertical-align: top;
}
.last {
  background-color: #FFB612;
  height: min-content;
}
.last h2 {
  font-size: 100px;
  margin: 5% auto;
  padding-top: 3%;
  width: max-content;
  color: #070002;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.last .main {
  display: flex;
  justify-content: space-around;
}
.last .main .info {
  width: 20%;
  height: min-content;
  background-color: #FFF;
  margin-bottom: 1%;
}
.last .main .info hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin-bottom: 5%;
}
.last .main .info h3 {
  color: #070002;
  margin: 2% auto 10%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.3rem;
}
.last .main .info p {
  color: #070002;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  margin: 0 2%;
}
.footer div {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #070002;
}
.footer div div.logo {
  color: white;
  display: flex;
  align-items: center;
  margin: 1%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
}
.footer div div.logo a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer div div.logo span {
  color: #FFB612;
}
.footer div div.logo img {
  height: 50px;
  width: 50px;
}
.footer div div.links {
  margin: 1%;
  display: flex;
  align-items: flex-end;
  width: 350px;
}
.footer div div.links a {
  margin-right: 5%;
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
.footer div div.links a:hover {
  color: #FFB612;
  text-decoration: underline overline;
}
