.footer {
    width: 100%;

    div.bttm {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        max-width: 100%;
        background-color: rgb(7, 0, 2);
        
        .bottomContent {
            margin: 0 10px;
        }

        img {
            height: 25px;
            width: 25px;
        }

        .bttm-link {
            a {
                text-decoration: none;
                font-size: 1px;
                color: #FFFFFF;
            }
            &:hover {
                color: #FFB612;
                text-decoration: underline overline;
            }

            span {
                color: #FFF;
            }
            
        }

        .copyright {
            p {
                text-decoration: none;
                font-size: 14px;
                color: #FFFFFF;
                font-family: 'Rajdhani', sans-serif;
            }
        }

        .social {
            display: flex;
            justify-content: space-between;
            
            .facebook {
                margin-left: 10px;
            }

            img {
                
                background-color: lightgray;
                
            }

        }
        
    }
}

// MOBILE STYLING BEGINS HERE!

@media(max-width: 500px) {
    footer {
        .bttm {
            .bottomContent {
                // font-size: 15px;
            }
            .logo {
                img {
                    height: 20px;
                    width: 20px;
                }   
            }
            .bttm-link a {
                // font-size: 2px
            }
        }
    }
}
