.footer {
    div.bttm {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        // height: 100px;
        background-color: rgb(7, 0, 2);
        
        img {
            height: 50px;
            width: 50px;
        }
        
    }
}
