header {
    // border: 1px solid green;
    
    nav {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        height: 150px;

        div.links {
            margin-top: 20px;
            a {
                
            }
        }
    }
}