.middle {
    margin-bottom: 5%;

    hr {
        border-top: 1px solid #8c8b8b;
        margin: 20px 25%;
    }

    div.mission {
        margin: 0;
        height: min-content;
        width: 100vw;
        background-color: #DE3831;
        margin-bottom: 20px;

        h2 {
            font-family: 'Rajdhani', sans-serif;
            text-align: center;
            padding: 2%;
            font-size: 3rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-decoration: overline;
        }

        p {
            text-align: start;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: #070002;
            height: min-content;
            margin: 0 10%;
            padding-bottom: 3%;
            letter-spacing: 2px; 
        }
    }

    .first, .second, .third {
        margin: 3% auto;
        display: flex;
        justify-content: space-around;

        .image {
            width: 40%;
            img {
                vertical-align: top;
                height: auto;
                width: 100%;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 35, 149, 0.19);
                
                }           
            }
            .target {
                width: 40%;
                // margin: 0 1% 0 7%;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 35, 149, 0.19);
                height: min-content;
                background-color: #F4F0DB; opacity: 10;

                h3 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 2.5rem;
                    margin-bottom: 2%;
                    text-decoration:  underline #FFB612;
                    letter-spacing: 1px;
                    padding: 2%;
                }
        
                p {
                    font-family: 'Rajdhani', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 700;
                    letter-spacing: 2px;
                    padding: 1%;

                    &:hover {
                        background-color: #FFB612;
                        color: #070002;
                        font-weight: 800;
                    }
                }
            }
            
    }

    .second {
        // background-color: #007A4D;
        
        .target {
            // margin: 0 7% 0 1%;
            vertical-align: top;
            }
        }
}


// **BEGINS INFO FOR MOBILE VIEW
@media(max-width: 500px) {
    section.middle {
        margin: 0;

        .mission {
            padding-top: 20px;
            margin: 0;
            h2 {
                font-size: 30px;
            }
            p {
                font-size: 15px;
            }
        }

        .first, .second, .third {
            display: flex;
            flex-direction: column;
            margin: 0;
            .image {
                img {
                margin: 0;
                height: 350px;
                width: 500px;
                border-radius: 0;
                }
                
               
            }
            .target {
                width: 100vw;
                margin: 0;
                border-radius: 0;

                h3 {
                    font-size: 30px
                }
            }
        }

        .second {
            display: flex;
            flex-direction: column-reverse
        }
        
    }
}