.middle {
    margin-bottom: 5%;

    hr {
        border-top: 1px solid #8c8b8b;
        margin: 20px 25%;
    }

    div.mission {
        margin: 0;
        height: min-content;
        width: 100%;
        background-color: #DE3831;

        h2 {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            padding: 2%;
            font-size: 3rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-decoration: overline;
        }

        p {
            text-align: start;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            color: #070002;
            height: min-content;
            margin: 0 10%;
            padding-bottom: 3%;
            letter-spacing: 2px; 
        }
    }

    .first, .second, .third {
        margin: 3% 20%;
        display: flex;
        justify-content: space-around;

        .image {
            width: 800px;
            img {
                vertical-align: top;
                height: auto;
                width: 90%;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 35, 149, 0.19);
                
                }           
            }

        

            .target {
                width: 600px;
                align-self: center;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 35, 149, 0.19);
                height: min-content;
                background-color: #E3E3E3; opacity: 10;

                h3 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-bottom: 2%;
                    text-decoration:  underline @yellow;
                    letter-spacing: 1px;
                    padding: 2%;
                }
        
                p {
                    .myText();
                    font-size: 1.3rem;
                    font-weight: 400;
                    letter-spacing: 2px;
                    padding: 4%;

                    &:hover {
                        background-color: @yellow;
                        color: #070002;
                        font-weight: 800;
                    }
                }
            }
            
    }
}

    .second {

        .target {
            margin-right: 50px;
        }
        ul {
            li {
                .myText();
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 2px;
                padding: 1%;

                &:hover {
                    text-decoration:  underline @yellow;
                    color: #070002;
                    font-weight: 800;
                }
            }
        }
        
        
}



// DESKTOP VERSION STARTS HERE!

@media(max-width: 1600px) {
    .middle {
        .first, .second, .third {
            .image {
                width: 100%;

                img {
                    width: 460px;
                    margin: 0 25px;
                }
            }

            .target {
                height: min-content;
                width: 800px;

                p {
                    font-size: 18px;
                }
            }
        }
    }
}








// TABLET VIEW STARTS HERE!!
@media(max-width: 800px) {
    .middle {
        margin: 0;
        .mission {
            margin-bottom: -20px;
        }
        .first, .second, .third {
            display: flex;
            flex-direction: column;
            margin: 0;
            
            .image {
                width: 100%;
                
                img {
                    width: 800px;
                    margin: 0;
                    height: auto;
                    border-radius: 0;
                }
            }
            .target {
                width: 800px;
                margin: 0;
                border-radius: 0;

                h3 {
                    font-size: 30px
                }
                p {
                   padding: 2%; 
                }
            }
        }
    }
}








//BEGINS INFO FOR MOBILE VIEW!!
@media(max-width: 500px) {

    section.middle {
        margin: 0;
        max-width: 500px;

        .mission {
            padding-top: 20px;
            margin: 0;
            h2 {
                font-size: 26px;
                font-weight: 900;
            }
            p {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .first, .second, .third {
            display: flex;
            flex-direction: column;
            margin: 0;
            .image {
                width: 100%;
                img {
                    width: 100%;
                    margin: 0;
                    height: 350px;
                    border-radius: 0;
                }
            }
            .target {
                width: 100%;
                margin: 0;
                border-radius: 0;

                h3 {
                    font-size: 30px
                }
                p {
                   padding: 2%; 
                }
            }
        }

        .second {
            display: flex;
            flex-direction: column-reverse;
        }
     }
}